:root {
  --color-primary: #e7ab3c;
  --color-secondary: #252525;
  --color-accent: #4c4c4c;
  --color-headings: #252525;
  --color-body: #636363;
  --color-body-lighter: #b2b2b2;
  --color-border: #e5e5e5;
  --slider-animation: -260px;
}

/* Reset */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

ul li {
  list-style: none;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

/* ANIMATIONS */

/* Badge Animation */
.rotate-90-cw {
  animation: rotate-90-cw 2000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes rotate-90-cw {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }

  25% {
    transform: rotate(90deg);
    opacity: 0;
  }

  50% {
    transform: rotate(90deg);
    opacity: 0;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

/* Typography */

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helverica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

/* @media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
} */

/* Containers */
.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media screen and (max-width: 1150px) {
  .container {
    max-width: 968px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 850px;
  }
}

@media screen and (max-width: 865px) {
  .container {
    max-width: 735px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .container {
    max-width: 470px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 400px;
  }
}

@media screen and (max-width: 410px) {
  .container {
    max-width: 350px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    max-width: 330px;
  }
}
/* SECTION HEADINGS */
.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.8rem;
}
.section-heading__heading {
  color: var(--color-headings);
  font-size: 3.6rem;
  text-align: center;
}

.section-heading::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 80px;
  background-color: var(--color-primary);
}

/* DESCRIPTIONS */
.description {
  font-size: 1.6rem;
  color: var(--color-body);
}

/* PRICE */
.price-primary {
  font-size: 2rem;
  color: var(--color-primary);
  font-weight: 500;
}

.price-w-desc {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.price-w-desc span {
  line-height: 2;
}

/* COLLAPSIBLES */
.collapsible__header {
  display: flex;
  justify-content: flex-end;
}

.collapsible__icon {
  transition: transform 300ms;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 300ms;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(-90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* BADGES */
.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 154px;
  width: 154px;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.badge__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 145px;
  border: 2px dashed #fff;
  border-radius: 50%;
}

.badge__content p {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

/* BUTTONS */
.btn-primary {
  display: inline-block;
  width: fit-content;
  background-color: var(--color-primary);
  border: none;
  color: #fff;
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #e69500;
}

.btn-secondary {
  display: inline-block;
  width: fit-content;
  background-color: #fff;
  border: 1px solid var(--color-border);
  color: #000;
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  font-weight: 600;
}

/* SEARCH INPUTS */
.search-input {
  display: flex;
}

.search-input input {
  padding: 1.5rem;
  border: 1px solid var(--color-border);
  border-right: none;
}

.search-input i {
  background-color: var(--color-primary);
  padding: 1.5rem;
  color: #fff;
}

/* NOTIFICATION-BTN */
.notification-btn {
  position: relative;
}

.notification-btn .fa {
  color: var(--color-accent);
  font-size: 2rem;
}

.notification-btn__badge {
  position: absolute;
  top: -2px;
  right: -6px;
  color: #fff;
  background-color: var(--color-primary);
  font-size: 1rem;
  line-height: 1.3;
  height: 12px;
  width: 12px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}

/* TIMER */
.timer {
  display: flex;
  gap: 3.5rem;
  width: fit-content;
}

.timer__item {
  display: inline-block;
  background-color: #fff;
  padding: 1rem 1.4rem;
  text-align: center;
}

.timer__item__val {
  color: var(--color-primary);
  font-size: 3.6rem;
  font-weight: 500;
}

/* GENDER CARDS */

.gender-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 620px;
  background: url(/public/assets/images/women-large.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gender-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gender-card__content h2 {
  text-align: center;
  color: #fff;
  font-size: 4.8rem;
  font-weight: 500;
}

.gender-card__content a {
  width: fit-content;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  border-bottom: 2px solid var(--color-border);
}

/* ITEM SLIDER */
.item-slider {
  position: relative;
  height: 580px;
  width: 70%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.products-category-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.products-category-nav__item {
  height: 30px;
  color: var(--color-body-lighter);
  cursor: pointer;
}

.products-category-nav__item:hover {
  color: var(--color-headings);
  border-bottom: 2px solid var(--color-body);
}

.products-category-nav__item__selected {
  color: var(--color-headings);
  border-bottom: 2px solid var(--color-body);
}

.item-slider__items {
  display: flex;
  justify-content: space-between;
}

/* PRODUCTS PAGE */
.shop {
  margin: 10rem 0;
  min-height: 600px;
}
.product-page__products {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 5rem 0;
  justify-items: center;
  justify-content: space-between;
}

.item-card {
  width: 280px;
  text-align: center;
}

.product-img {
  width: 90%;
  height: 252px;
}

.item-card__btns {
  height: 52px;
  display: flex;
  justify-content: center;
}

.item-card__btns .btn-primary {
  width: 39px;
  height: 52px;
  padding: 0 10px;
}

.item-card__btns .btn-secondary {
  font-size: 1.5rem;
  padding: 0 10px;
  transition: 250ms;
}

.item-card__btns .btn-secondary:hover {
  background-color: var(--color-primary);
}

.item-card__like-btn {
  position: absolute;
  top: 5%;
  left: 80%;
}

.item-card__desc {
  text-align: center;
  padding-top: 1.6rem;
}

.item-card__desc__category {
  font-size: 1rem;
  color: var(--color-body-lighter);
  text-transform: uppercase;
}

.item-card__desc__name {
  font-size: 1.8rem;
  color: var(--color-headings);
}

.item-card__desc__price {
  font-size: 2rem;
  color: var(--color-primary);
  font-weight: 500;
}

.no-products {
  text-align: center;
  font-size: 4rem;
  margin-top: 10rem;
  color: var(--color-primary);
}

@media screen and (max-width: 1750px) {
  .item-card {
    width: 250px;
  }
  .product-page__products {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (max-width: 1200px) {
  .product-page__products {
    grid-template-columns: repeat(3, auto);
  }
  .item-card {
    width: 230px;
  }
}

@media screen and (max-width: 768px) {
  .product-page__products {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 535px) {
  .product-page__products {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }

  .products-category-nav {
    gap: 2rem;
  }

  .item-card {
    width: 100%;
  }
}

/* TOAST */
#toast {
  position: fixed;
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  z-index: 1;
  left: 50%;
  bottom: 30%;
}

#toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30%;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30%;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Slick Slider arrows */
.prev-btn-men,
.prev-btn-women,
.next-btn-men,
.next-btn-women {
  display: block;
  position: absolute;
  top: 45%;
  z-index: 999;
  transition: 300ms;
  cursor: pointer;
}

.prev-btn-men,
.prev-btn-women {
  left: 15px;
}

.prev-btn-men:hover,
.prev-btn-women:hover,
.next-btn-men:hover,
.next-btn-women:hover {
  transform: scale(1.5);
  color: var(--color-primary);
}

.next-btn-men,
.next-btn-women {
  right: 15px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 990px) {
}

/* HEADER TOP */

.header__top {
  border-bottom: 1px solid var(--color-border);
  font-size: 1.4rem;
}

.header__top .container {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
}

.header__top__contact {
  display: flex;
}

.header__top__contact__email {
  border-right: 1px solid var(--color-border);
  padding-right: 2rem;
}

.header__top__contact__email span,
.header__top__contact__phone span {
  margin-left: 0.6rem;
}

.header__top__contact__phone {
  padding-left: 2rem;
}

.header__top__social {
  display: flex;
  gap: 2rem;
}

.header__top__social__social-icons {
  display: flex;
  border-right: 1px solid var(--color-border);
  padding-right: 2rem;
  gap: 2rem;
}

.header__top__social__lang {
  border-right: 1px solid var(--color-border);
  padding-right: 2rem;
}

.header__top__social__lang select {
  border: none;
  background-color: #fff;
  color: var(--color-body);
  outline: none;
}

.header__top__social__login {
  color: var(--color-body);
  display: flex;
  align-items: center;
}

.social__login__text,
.social__lang__text {
  margin-left: 0.5rem;
}

@media screen and (max-width: 800px) {
  .header__top {
    margin-bottom: 2rem;
  }

  .header__top__contact,
  .header__top__social__social-icons {
    display: none;
  }
  .header__top__social {
    width: 100%;
    justify-content: space-between;
  }
}

/* HEADER MIDDLE */

.header__middle {
  height: 128px;
  display: flex;
  align-items: center;
}

.header__middle .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.header__middle__search {
  display: flex;
  width: 60%;
}

.header__middle__search__categories {
  padding-left: 1rem;
  border: 1px solid var(--color-border);
  border-right: 1rem solid #fff;
  background-color: #fff;
  color: var(--color-accent);
  text-align: left;
  width: 30%;
}

.header__middle__search .search-input {
  width: 70%;
}

.header__middle__search .search-input input {
  width: 100%;
}

.header__middle__cart {
  display: flex;
  gap: 2rem;
}

/* .header__middle__cart__total {
  color: #252525;
  font-weight: 600;
} */

@media screen and (max-width: 768px) {
  .header__middle .container {
    /* flex-direction: column; */
    gap: 1rem;
  }

  .header__middle__search {
    width: 50%;
  }

  .header__middle__search__categories {
    display: none;
  }

  .header__middle__search .search-input {
    width: 100%;
  }

  .header__middle__search .search-input i {
    font-size: 1.5rem;
  }

  .header__middle__cart {
    align-self: flex-start;
  }
}

/* HEADER-BOTTOM */

.header__bottom {
  background-color: var(--color-secondary);
}

.header__bottom__upper {
  display: flex;
  background-color: var(--color-secondary);
  align-items: center;
  height: 50px;
}

.header__bottom__depart {
  background-color: #3b3b3b;
  color: #fff;
  font-size: 1.4rem;
  height: inherit;
  width: 25%;
  border: 1rem solid #3b3b3b;
}

.main-nav {
  flex-grow: 1;
  height: inherit;
}

.main-nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: inherit;
  border-left: 1px solid #4c4c4c;
}

.main-nav__links li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #4c4c4c;
  height: inherit;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  transition: background-color 250ms;
  padding: 0 1rem;
}

.main-nav__links li:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.main-nav__links li a {
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__bottom__lower {
  display: none;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color-accent);
}
.header__bottom__lower .collapsible__icon {
  align-self: flex-end;
  font-size: 3.5rem;
  color: var(--color-secondary);
}

.header__bottom__lower__nav {
  padding-top: 1rem;
  padding-left: 2rem;
}

.header__bottom__lower__nav__links li {
  margin-bottom: 1rem;
  padding: 0 1rem;
  border-radius: 5px;
  transition: background-color 250ms;
  font-size: 1.4rem;
}

.header__bottom__lower__nav__links li:hover {
  background-color: #ccc;
  cursor: pointer;
}

.header__bottom__lower__nav__links li a {
  color: #fff;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__bottom__lower {
    display: flex;
  }
  .header__bottom__upper {
    display: none;
  }
  .header__bottom__lower {
    margin-top: 2rem;
  }
}

/* CART */

.header__middle {
  /* position: relative; */
}

.cart .container {
  /* position: absolute;
  top: 200%;
  right: -300%;
  width: 490px;
  padding: 7rem;
  background-color: #fff;
  transition: 300ms;
  opacity: 0;
  visibility: hidden;
  z-index: 999; */
}

.cart {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.cart-hover-btn:hover .cart {
  opacity: 1;
  top: 90%;
  visibility: visible;
}

.cart:focus-within {
  opacity: 1;
  top: 90%;
  visibility: visible;
}

.add-to-cart {
  width: 90%;
  border: 1px solid var(--color-body-lighter);
}

.add-to-cart:hover {
  color: #fff;
}

.cart__item-details-left,
.cart__item-details-right {
  display: flex;
  align-items: center;
}

.cart__item-details-left {
  width: 50%;
  gap: 3rem;
}

.cart__item-details-right {
  gap: 3rem;
}

.cart__items__item {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-body-lighter);
  padding: 2rem 0;
}

.cart__items__item img {
  height: 72px;
  width: 72px;
}

.cart__item-qty-section {
  display: flex;
  align-items: center;
  flex: 1;
}

.cart__item-qty-section button {
  height: 3rem;
  width: 2rem;
  padding: 0.3rem;
  margin: 0 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 1.5rem;
}

.cart__item-price,
.cart__item-qty {
  color: var(--color-primary);
}

.cart__item-name {
  color: var(--color-accent);
  flex: 1;
}

.cart__item__remove-btn {
  border: none;
  width: 16px;
  background-color: transparent;
  color: var(--color-body);
  font-size: 2rem;
}

.product-price {
  color: var(--color-primary);
}

.cart__total {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  color: var(--color-primary);
  font-size: 1.6rem;
  flex: 1;
  font-weight: 800;
}

.cart-btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
}

.cart__clear-cart-btn,
.cart__checkout-btn {
  width: 16rem;
  height: 4rem;
  font-size: 1.2rem;
}

.StripeCheckout {
  width: 16rem;
  height: 4rem;
  background: var(--color-primary) !important;
  border-radius: 0 !important;
  text-shadow: none !important;
  border: none;
  color: #fff;
  padding: 1.2rem 3rem;
}

.stripe-checkout span {
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  text-transform: uppercase;
}

.cart__clear-cart-btn {
  background-color: #bb3333;
}

.cart__clear-cart-btn:hover {
  background-color: #bb2222;
}

.cart__view-cart-btn {
  color: #fff;
  background-color: #191919;
  margin-bottom: 1rem;
}

.cart__items-no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.product-pic-title {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .cart__item-details-left {
    gap: 2rem;
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .cart__item-details-left {
    width: 44%;
  }
  .product-pic-title {
    flex-direction: column;
    gap: 0.5rem;
  }
  .cart__item-name {
    text-align: center;
  }
  .cart__item-details-left,
  .cart__item-details-right {
    gap: 3rem;
  }
  .cart__item-qty-section {
    flex: none;
  }
  .cart-btns {
    justify-content: center;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 410px) {
  .cart__item-qty-section {
    flex-direction: column;
  }
}

/* HERO */
.hero {
  display: block;
  background: url(/public/assets/images/hero-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 725px;
  position: relative;
}

.hero__container {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content {
  width: 50%;
}

.hero__content__category {
  color: var(--color-primary);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hero__content__heading {
  font-size: 7.2rem;
  margin-bottom: 1rem;
}

.hero__content__desc {
  font-size: 1.6rem;
  margin-bottom: 4.2rem;
}

.hero .badge {
  position: absolute;
  left: 50%;
  top: 150px;
}

@media screen and (max-width: 1040px) {
  .hero__content {
    width: 70%;
  }
  .hero .badge {
    left: 65%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 411px;
  }
  .hero__content {
    width: 100%;
  }
  .hero__content__heading {
    font-size: 4rem;
  }
  .hero {
    background-position: left;
    background-size: auto;
  }

  .hero .badge {
    display: none;
  }
}

/* BANNER */
.banner {
  margin: 4rem 0;
}

.banner-content {
  height: 300px;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.banner-content__item__clickable {
  cursor: pointer;
}

.banner-content__men {
  background: url(/public/assets/images/xbanner-1.jpg);
}

.banner-content__women {
  background: url(/public/assets/images/xbanner-2.jpg);
}

.banner-content__kids {
  background: url(/public/assets/images/xbanner-3.jpg);
}

.banner-content__desc {
  background-color: #fff;
  color: var(--color-headings);
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2.8rem;
}

.banner-content__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
  width: 32%;
}

.outlined {
  position: absolute;
  height: calc(100% - 70px);
  width: calc(100% - 60px);
  border: 13px solid #fff;
}

.banner-content .outline {
  position: absolute;
  height: calc(100% - 70px);
  width: calc(100% - 60px);
  border: 13px solid #fff;
  opacity: 0.3;
  visibility: hidden;
}

.banner-content__item:hover .outline {
  visibility: visible;

  animation: outline 150ms linear;
}
@keyframes outline {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 1000px) {
  .banner-content {
    flex-direction: column;
    align-items: center;
    height: 1110px;
  }

  .banner-content .banner-content__item {
    width: 100%;
  }

  .banner-content__desc {
    font-size: 2.4rem;
  }
}

/* WOMEN SECTION */
.women .container,
.men .container {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

/* MEN SECTION */
.men .container {
  flex-direction: row-reverse;
}

.men .gender-card {
  background: url(/public/assets/images/man-large.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 620px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 968px) {
  .women .container,
  .men .container {
    flex-direction: column;
    align-items: center;
  }

  .women .container .gender-card,
  .men .container .gender-card {
    width: 100%;
    background-position: top;
  }
}

/* DEAL SECTION */
.deal {
  margin: 6.5rem 0;
  background: url(/public/assets/images/time-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.deal .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 565px;
  padding: 8rem 9rem;
}

.deal__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.deal__content .section-heading {
  margin: 0;
}

.deal__desc .description {
  text-align: center;
}

.deal__desc .price-primary {
  font-size: 2.4rem;
}

@media screen and (max-width: 990px) {
  .deal .container {
    align-items: center;
    height: 660px;
  }

  .deal__content {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .deal .container {
    align-items: center;
    height: 720px;
  }

  .deal__content {
    width: 100%;
  }

  .deal .timer {
    gap: 0.5rem;
  }
}

/* IMAGE GRID */
.image-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 320px;
  margin: 8rem 0;
}

.image-grid .image-1 {
  background: url(/public/assets/images/insta-1.jpg);
}

.image-grid .image-2 {
  background: url(/public/assets/images/insta-2.jpg);
}

.image-grid .image-3 {
  background: url(/public/assets/images/insta-3.jpg);
}

.image-grid .image-4 {
  background: url(/public/assets/images/insta-4.jpg);
}

.image-grid .image-5 {
  background: url(/public/assets/images/insta-5.jpg);
}

.image-grid .image-6 {
  background: url(/public/assets/images/insta-6.jpg);
}

.image-grid__img {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  color: #fff !important;
}

.image-grid__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 300ms;
}

.image-grid__desc:hover {
  opacity: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.image-grid__img .fa {
  font-size: 3rem;
}

@media screen and (max-width: 968px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    height: 900px;
  }
}

@media screen and (max-width: 480px) {
  .image-grid {
    grid-template-columns: auto;
    height: 1800px;
  }
}

/* BLOG SECTION */

.blog {
  margin: 10rem 0;
}
.blog-card {
  height: 500px;
}

.blog-card__img {
  height: 260px;
  background: url(/public/assets/images/xlatest-1.jpg.pagespeed.ic.NWH-yJ0uMS.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 2.5rem;
}

.blog-card__date {
  font-size: 1.6rem;
  color: var(--color-body-lighter);
  display: flex;
  gap: 1.6rem;
  margin-bottom: 0.8rem;
}

.blog-card__date__icon {
  color: var(--color-primary);
  margin-right: 0.6rem;
}

.blog-card__heading {
  color: var(--color-secondary);
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.blog-card__content {
  font-size: 1.6rem;
}

.blog__content {
  display: grid;
  gap: 1rem 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.benifits {
  height: 95px;
  display: flex;
  border: 1px solid var(--color-border);
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5.5rem;
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.benifits__item {
  display: flex;
  gap: 1.8rem;
}

.benifits__item__icon {
  font-size: 4rem;
  color: var(--color-primary);
}

.benifits__item__desc {
  font-size: 1.6rem;
  color: var(--color-headings);
}

@media screen and (max-width: 1200px) {
  .blog-card {
    height: 470px;
  }

  .blog__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .benifits {
    height: 306px;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 5.5rem;
    gap: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .blog-card {
    height: 470px;
  }

  .blog__content {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 538px) {
  .benifits {
    height: 435px;
  }
}

/* BRANDS */
.brands {
  height: 121px;
  background-color: #303030;
}
.brands .container {
  height: 121px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}
.brands__img {
  height: 30px;
  width: 20%;
  background: url(/public/assets/images/xlogo-2.png);
  background-repeat: no-repeat;
}

@media screen and (max-width: 968px) {
  .brands .container {
    justify-content: space-around;
  }
  .brands .container div:last-child {
    display: none;
  }
  .brands .container div:first-child {
    display: none;
  }
  .brands .container {
    justify-content: space-between;
  }
  .brands__img {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .brands .container div:nth-child(2) {
    display: none;
  }
}

/* FOOTER */

#footer {
  height: 442px;
  background-color: #191919;
  font-size: 1.8rem;
}

#footer a {
  transition: 250ms;
}

#footer a:hover {
  text-decoration: underline;
  color: #fff;
}

#footer .container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__content {
  height: 265px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer__content li {
  color: var(--color-body-lighter);
  margin-bottom: 1rem;
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: inherit;
  width: 35%;
}

.footer__social-icons {
  display: flex;
  gap: 1rem;
}

.footer__social-icons li {
  height: 40px;
  width: 40px;
  background-color: var(--color-accent);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
}

.footer__address .footer__address__logo {
  width: 89px;
  height: 23px;
  margin-bottom: 2rem;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  height: inherit;
}

.footer__nav .footer__nav__heading {
  font-size: 18px;
  color: #fff;
  margin-bottom: 2rem;
  font-weight: 500;
}

.footer__nav a {
  color: var(--color-body-lighter);
}

.footer__search-input input {
  background-color: #303030;
  border: none;
  font-size: 1.3rem;
}

.footer__search-input span {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: var(--color-primary);
  padding: 1.5rem;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  #footer {
    height: 1350px;
    padding: 7.5rem 0;
  }

  #footer .container {
    display: block;
    height: auto;
  }

  .footer__content {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .footer__nav {
    flex-direction: column;
    gap: 2rem;
  }

  .footer__nav .footer__nav__heading {
    font-size: 2.6rem;
  }

  .footer__search-input input {
    width: 100%;
  }
}

.hidden {
  display: none;
}

/* FORMS */
form {
  margin: 5% auto;
  padding: 30px;
  width: 400px;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}

form label {
  font-size: 14px;
  color: darkgray;
  cursor: pointer;
}

form label,
form input {
  float: left;
  clear: both;
}

form input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 5px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
  border-color: cornflowerblue;
}

input[type="submit"] {
  padding: 15px 50px;
  width: auto;
  background: #1abc9c;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s ease all;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

input[type="submit"]:active {
  opacity: 0.4;
}

.form__heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.login-form__link {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.login-form__link a {
  color: var(--color-primary);
}

.error-message {
  background-color: #ff9f9f;
  color: #a50606;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 2rem;
  opacity: 0.9;
}

.loader-text {
  padding: 2rem;
}

.not-found {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-heading {
  font-size: 5rem;
  color: var(--color-primary);
}

/* CONTACT SECTION  */
.contact-section {
  height: 400px;
  margin: 10rem 0;
}
.contact-section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  height: 150px;
}

.contact-section__detail h3 {
  font-size: 2.5rem;
}

.contact-section__detail p {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .contact-section {
    height: 500px;
  }
  .contact-section__content {
    flex-direction: column;
    gap: 5rem;
  }
  .contact-section__detail {
    width: 100%;
  }
}

/* ORDERS */

.orders {
  margin: 10rem auto;
}

.orders-table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
  width: 100%;
}

.orders-table thead th,
.orders-table tfoot th {
  color: #fff;
  background: var(--color-primary);
}
.orders-table caption {
  padding: 0.5em;
}
.orders-table th,
.orders-table td {
  padding: 0.5em;
  border: 1px solid lightgrey;
}

.order_pending {
  color: var(--color-primary);
}

.order_completed {
  color: green;
}

.order_cancelled {
  color: red;
}
